git+https://github.com/wtsi-npg/partisan.git#egg=partisan>=0.1
git+https://github.com/wtsi-npg/ml-warehouse-python.git#egg=ml-warehouse>=0.1
pytest==6.2.5
setuptools==58.0.4
setuptools_scm==6.3.2
sqlalchemy==1.4.23
structlog==21.3.0
